/* Page style */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    transition: ease-in 0.5s;
    font-family: "Montserrat", sans-serif;
    color: black;
    font-weight: bold;
    user-select: none;
}

/* Style of the top of the page (navbar and the clock) */
.top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    font-size: 20px;
}


.top .navbar ul li{
    display: inline-block;
    list-style: none;
}

.top .navbar ul li a{
    text-decoration: none;
    color: black;
    padding: 5px 40px 5px 40px;
    transition: 0.5s ease;
}

.top .navbar ul:hover li a{
    color: black;
}

.top .navbar ul:hover li a:not(:hover){
    color: black;
    opacity: 0.8;
    filter: blur(0.7px);
}
