body {
    height: 100vh;
    background: linear-gradient(45deg, #22A699, #22A699 25%, #F2BE22 25%, #F2BE22 50%, #F29727 50%, #F29727 75%, #F24C3D 75%, #F24C3D);
    background-size: 100% 100%;
}

.error-txt{
    position: absolute;
    left: 10%;
    top: 20%;
}

.error-txt .error-txt1{
    font-size: 150px;
    background: linear-gradient(135deg, #7A7453, #FEFFE2);
    -webkit-text-fill-color: transparent;
	-webkit-background-clip: text;
}

.error-txt p{
    padding: 5px;
}

.error-txt a{
    text-decoration: underline;
    color: #C3BA85;
}
