/* Page style */
@font-face {
    font-family: EyeSpyItalic;
    src: url("../assets/font/EyeSpyItalic.otf") format("opentype");
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: black;
    font-weight: bold;
}

body {
    height: 100vh;
    background: linear-gradient(45deg, #22A699, #22A699 25%, #F2BE22 25%, #F2BE22 50%, #F29727 50%, #F29727 75%, #F24C3D 75%, #F24C3D);
    background-size: 100% 100%;
    font-family: EyeSpyItalic;
}

.top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    font-size: 20px;
}


.top .navbar ul li{
    display: inline-block;
    list-style: none;
}

.top .navbar ul li a{
    text-decoration: none;
    color: black;
    padding: 5px 40px 5px 40px;
    transition: 0.5s ease;
}

.top .navbar ul:hover li a{
    color: black;
}

.top .navbar ul:hover li a:not(:hover){
    color: black;
    opacity: 0.8;
    filter: blur(0.7px);
}

.container {
    display: flex; 
    padding: 30px;
}

.container .change-container1,
.container .change-container2{
    padding: 20px;
}

.text-container {
    padding: 10px;
    border: 2px solid;
    border-radius: 20px;
    background-color: #FAF9F6;
}

.controls{
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.resize-btn{
    border: 2px solid;
    background-color: #FAF9F6;
    cursor: pointer;
    border-radius: 20px;
    padding: 8px 10px;
    margin: 0 10px;
}

.reset-btn{
    border: 2px solid;
    background-color: #FAF9F6;
    cursor: pointer;
    border-radius: 20px;
    padding: 8px 10px;
    margin: 0 10px;
}

.container .controls input{
    -webkit-appearance: none;
    height: 7px;
    background: #FAF9F6;
    border-radius: 10px;
    outline: none;
    border: none;
}

.container .controls input::-webkit-slider-thumb{
    -webkit-appearance: none;
    height: 18px;
    width: 18px;
    background: black;
    border-radius: 50%;
    cursor: pointer;
}
