/* Page style */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Chrome and Opera */
    /* transition: ease-in 0.5s; */
    font-family: "Montserrat", sans-serif;
    color: black;
    font-weight: bold;
}

body{
    background-color: #a5a38d;
}

.container {
    /* position: absolute; */
    /* display: flex; */
    /* justify-content: space-between; */    
    padding: 30px;
}

.text-container {
    padding: 10px;
    border: 2px solid;
    border-radius: 20px;
}


.controls, .controls2{
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.resize-btn{
    border: none;
    background-color: #a5a38d;
    cursor: pointer;
    border-radius: 20px;
    padding: 0 10px;
}

.range-slider {
    display: flex;
    align-items: center;
    justify-content: center;
}



.reset-btn{
    border: none;
    background-color: #a5a38d;
    cursor: pointer;
    border-radius: 20px;
}




.range{
    height: 40px;
    width: 300px;
    padding: 0 65px 0 45px;
}

.range .field{
    padding: 20px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.range .field .value{
    position: absolute;
}

.range .field .value.left{
    left: -22px;
}

.range .field .value.right{
    right: -43px;
}

.range .field input{
    -webkit-appearance: none;
    height: 5px;
    width: 100%;
    background: #ddd;
    border-radius: 10px;
    outline: none;
    border: none;
}

.range .field input::-webkit-slider-thumb{
    -webkit-appearance: none;
    height: 18px;
    width: 18px;
    background: #664aff;
    border-radius: 50%;
    border: 1px solid #664aff;
    cursor: pointer;
}
