/* Page style */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    color: black;
    font-weight: bold;
}

body {
    height: 100vh;
    background: linear-gradient(45deg, #22A699, #22A699 25%, #F2BE22 25%, #F2BE22 50%, #F29727 50%, #F29727 75%, #F24C3D 75%, #F24C3D);
    background-size: 100% 100%;
}
    

.container {
    display: flex; 
    padding: 30px;
}

.container .change-container1,
.container .change-container2{
    padding: 20px;
}

.text-container {
    padding: 10px;
    border: 2px solid;
    border-radius: 20px;
    background-color: #FAF9F6;
}

.controls{
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.resize-btn{
    border: 2px solid;
    background-color: #FAF9F6;
    cursor: pointer;
    border-radius: 20px;
    padding: 8px 10px;
    margin: 0 10px;
}

.reset-btn{
    border: 2px solid;
    background-color: #FAF9F6;
    cursor: pointer;
    border-radius: 20px;
    padding: 8px 10px;
    margin: 0 10px;
}

.container .controls input{
    -webkit-appearance: none;
    height: 7px;
    background: #FAF9F6;
    border-radius: 10px;
    outline: none;
    border: none;
}

.container .controls input::-webkit-slider-thumb{
    -webkit-appearance: none;
    height: 18px;
    width: 18px;
    background: black;
    border-radius: 50%;
    cursor: pointer;
}
