/* Add your existing styles here, and below are additional styles for the certificate. */
.certificate-container {
    position: relative;
    text-align: center;
    max-width: 800px; /* Adjust based on the actual image size */
    margin: auto;
    font-size: 22px;
}

#certificate-background {
    width: 100%;
    height: auto;
}

.certificate-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #3a3a3a;
}

.name-input {
    padding: 10px;
}

.print-btn {
    background: #EEEDEB;
    border: 2px solid;
    border-radius: 10px;
    padding: 5px 10px;
    cursor: pointer;
    font-family: inherit;
    font-weight: inherit;
    font-size: inherit;
    box-shadow: 0 0 20px 2px #B4B4B8;
}

.user-input {
    font-family: inherit;
    font-size: inherit;
    padding: 5px;
    border: 2px solid;
    border-radius: 10px;
    text-align: center;
}

.user-input::placeholder{
    text-align: center;
    font-family: inherit;
    font-size: inherit;
}

.user-print {
    text-align: center;
    padding: 10px;
}

/* If you need even smaller text on mobile devices, add a media query */
@media (max-width: 768px) {
    .certificate-content {
        font-size: 12px; /* Further decrease for small devices */
    }
}

