@font-face {
    font-family: EyeSpyItalic;
    src: url("../assets/font/EyeSpyItalic.otf") format("opentype");
}

/* Page style */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: EyeSpyItalic;
    font-size: 20px;
    font-weight: bold;
    user-select: none;
}

body{
    height: 100vh;
    background: linear-gradient(45deg, #22A699, #22A699 25%, #F2BE22 25%, #F2BE22 50%, #F29727 50%, #F29727 75%, #F24C3D 75%, #F24C3D);
    background-size: 100% 100%;
}

/* Style of the top of the page (navbar) */
.top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    /* font-size: 20px; */
}


.top .navbar ul li{
    display: inline-block;
    list-style: none;
}

.top .navbar ul li a{
    text-decoration: none;
    color: black;
    padding: 5px 40px 5px 40px;
    transition: 0.5s ease;
}

.top .navbar ul:hover li a{
    color: black;
}

.top .navbar ul:hover li a:not(:hover){
    color: black;
    opacity: 0.8;
    filter: blur(0.7px);
}


.puzzle-box{
    position: relative;
    background-color: #9ED2BE;
    border: 2px solid #0C0C0C;
    border-radius: 15px;
    height: 600px;
    margin: 0 20px 0 20px;
}

.puzzle-box .puzzle-box-button{
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translate(-50%, -50%);
}

.puzzle-box .puzzle-box-button .start-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    background: black;
    border: none;
    border-radius: 10px;
    padding: 10px 15px;
    cursor: pointer;
    color: #FEFFE2;
    box-shadow: 1px 1px 10px 2px #0C0C0C;
    text-decoration: none;
}

/* #a5a38d */
