/* Page style - Home */


  .tv-container {
    position: relative;
    display: inline-block;
  }
  
  .tv-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
    text-align: center;
  }





.puzzle-box{
    position: relative;
    background-color: wheat;
    border: 2px solid black;
    border-radius: 15px;
    height: 75%;
    margin: 0 20px 0 20px;
    text-align: center;
    
}

.puzzle-box .puzzle-box-button{
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translate(-50%, -50%);
}

.puzzle-box .puzzle-box-button .start-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    background: black;
    border: none;
    border-radius: 10px;
    padding: 10px 15px;
    cursor: pointer;
    color: #FEFFE2;
    box-shadow: 1px 1px 10px 2px #0C0C0C;
    text-decoration: none;
}

/* #a5a38d */
