.header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 50px 20px 50px;
}

.icons{
  text-align: center;
}

.header-text{
  text-align: center;
  padding: 10px 50px 10px 50px;
}

.icons a{
  font-size: 35px;
  color: black;
}

.puzzle_container p{
  text-align: center;
}

.puzzle_container{
  margin: 2% 10%;
  padding: 5%;
  border-radius: 20px;
  background-color: white;
}

input{
  margin: 0% 1%;
}


.next-puzzle {
    text-align: right;
    margin-top: 20px;
    display: none;
}
.next-puzzle-btn {
    background-color: #87A922;
    border: 2px solid;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 20px;
    margin-top: 20px;
    padding: 5px 10px;
    cursor: pointer;
    font-family: inherit;
    font-weight: inherit;
    font-size: inherit;
    text-decoration: none;
}
