.header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 50px 20px 50px;
}

.icons{
  text-align: center;
}

.header-text{
  text-align: center;
  padding: 10px 50px 10px 50px;
}

a{
  font-size: 35px;
  color: black;
}

.puzzle_container p{
  text-align: center;
}

.puzzle_container{
  margin: 2% 10%;
  padding: 5%;
  border-radius: 20px;
  background-color: white;
}

.answer_container{
  align-items: center;
  padding-left: 10%;
}

input{
  margin: 0% 1%;
}
