* {
    user-select: none;
}

h1{
    text-align: center;
}

/*Part 1*/

/* CSS for styling the graph container */
#graph-container {
    width: 750px;
    height: 500px;
    position: relative;
    margin: 100px auto 0px auto;
    /* border: 1px solid white;  */
}

/* CSS for styling the points */
.point {
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    cursor: pointer;
}

/* CSS for styling the lines */
.line {
    stroke: black;
    stroke-width: 2px;
}

/* CSS for styling the text */
.text {
    font-size: 12px;
    fill: black;
    text-anchor: middle;
}

/* CSS for styling the grid lines */
.grid-line {
    stroke: rgb(255, 255, 255);
}

.input-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.input-container label {
    margin-right: 10px; /* Adds gap between label and input */
    margin-left: 20px; /* Adds gap between label and input */
}

.input-container input {
    margin-left: 10px; /* Adds gap between input and label */
    font-family: inherit;
    font-size: inherit;
    padding: 5px;
    border: 2px solid;
    border-radius: 10px;
    text-align: center;
    width: 5%;
}

#coordinateInput {
    width: 200px;
}

#alertMessage {
    text-align: center;
}

/*Part 2*/

.arcGraph{
    height: 100%;
    margin: 0;
    position: relative;
    justify-content: center;
    align-items: center;
    text-align: center;
}

canvas, .centerButton {
    display: block; /* Ensure canvas and button are displayed as block elements */
    margin: 20px auto; /* Center the elements horizontally */
}

.canvasContainer {
    position: relative;
    width: 650px;
    height: 650px;
    margin: 0 auto;
}

#arcCanvas {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-49%, -47.5%);
    border: 1px solid black;
    background-image: url('../assets/backgrounds/puzzle3-assets/puzzle-3-part2.png');
    background-size: cover;
    background-repeat: no-repeat;
}

#axisCanvas {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -49%);
}

#question {
    text-align: center;
    margin-top: 20px;
}

.exampleAnswers {
    text-align: center;
    margin-top: 50px;
}

.exampleAnswer {
    display: inline-block;
    margin: 10px 10px;
    cursor: pointer;
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.highlighted {
    background-color: black;
    color: white;
}

.correct{
    background-color: #4CAF50;
    color: white;
}

.incorrect{
    background-color: red;
    color: white;
}

#toggleButton{
    margin-top: 60px;
}

#stopAnimation{
    margin-top: 60px;
}

button {
    position: relative;
    background: #EEEDEB;
    border: 2px solid;
    border-radius: 10px;
    padding: 5px 10px;
    cursor: pointer;
    font-family: inherit;
    font-weight: inherit;
    font-size: inherit;
    box-shadow: 0 0 20px 2px #B4B4B8;
}

button:hover {
    background-color: #45a049;
}

button:active {
    background-color: #3e8e41;
}
