/* Page style - Puzzle Selection*/
.circle-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.small-circle {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 2px solid white;
    background-color: #DC0000;
    color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 10px;
    box-shadow: 1px 1px 10px 2px #000;
}



.container{
    /* width: 100%; */
    /* height: auto; */
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.card{
    margin: 20px;
    width: 350px;
    height: 500px;
    font-size: 20px;
    /* height: 500px; */
    border-radius: 20px;
    margin: 30px 30px;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    /* background: #90a4ae; */
}

/* .card .image{
    position: relative;
    width: 300px;
    height: 350px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 50px;
    border-top-right-radius: 50px;
} */

/* img{
    margin-left: 5%;
    margin-bottom: 10px;
} */

.card .front h1{
    color: white;
    font-size: 32px;
    padding-bottom: 10px;
    /* text-align: center; */
    /* position: relative; */
    /* border-radius: 20px; */
    /* margin: 360px 0px 0px 0px;*/
    -webkit-text-stroke-width: 1.5px;
    -webkit-text-stroke-color: rgb(0, 0, 0);
    overflow: hidden;
    border-bottom: 10px;
    position: absolute;
    bottom: 90px;
    left: 50%; /* Align horizontally in the middle */
    transform: translateX(-50%);
}

.card .front h1::before{
    content: '';
    background-color: black;
    height: 3px;
    width: 150px;
    position: absolute;
    bottom: 5px;
    border-radius: 50%;
    border-color: #000;
}




.card .more-btn{
    font-family: inherit;
    cursor: pointer;
    background-color: #0c0c0c;
    color: #fff6c3;
    padding: 10px;
    border-radius: 10px;
    border: 2px solid white;
    font-size: 20px;
    position: absolute;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
}

/* .front button{
    margin-top: 10px;
    font-size: 20px;
} */

.front,
.back{
    backface-visibility: hidden;
    position: absolute;
    height: 500px;
    /* height: auto; */
    width: 350px;
    border-radius: 20px;
    box-shadow: -10px 10px 10px #1e1e1e;
}

.front{
    /* align-items: center; */
    /* justify-content: center; */
    /* text-align: center; */
    border: 2px solid white;
    /* border-color: white;
    border-style: solid; */
    background-size: cover;
    background-position: 62.5%;
}

.back{
    transform: rotateY(180deg);
    /* border-radius: 20px; */
    background-color: #abaaaa;
    border: 2px solid white;
    /* border-color: white;
    border-style: solid; */
}

.back img{
    position: absolute;
    height: 60px;
    /* width: 120px; */
    /* margin: 2.5px 0px 0px 220px; */
    top: 1%;
    right: 2%;
    transform: rotate(25deg);
    opacity: 0.5;
}

.back h1{
    position: absolute;
    text-align: center;
    font-size: 30px;
    top: 8%;
    width: 100%;
    padding: 10px;
}

.back h1::before{
    content: '';
    background-color: black;
    height: 3px;
    width: 250px;
    position: absolute;
    bottom: 0;
    border-radius: 50%;
    border-color: #000;
}

.back p{
    /* font-family: sans-serif; */
    position: absolute;
    text-align: center;
    top: 20%;
    padding: 10px;
}

.background_back{
    background-image: url('../assets/backgrounds/DATA_Logo.png');
    background-size: 250px;
    background-repeat: no-repeat;
    background-position: 50%;
    height: 500px;
    width: 350px;
    position: absolute;
    opacity: 0.125;
    z-index: -1;
}

.back .return{
    cursor: pointer;
    background-color: black;
    height: 50px;
    width: 50px;
    /* align-items: left; */
    /* margin-left: 0; */
    /* border-radius: 0px; */
    border-top-left-radius: 35px;
    border-bottom-right-radius: 90px;
    /* border-color: #000; */
    color: white;
    font-size: 20px;
    padding: 0 5px 5px 0;
    /* padding-top: 1px; */
    /* padding-left: 6px; */
}

.back .start{
    font-family: inherit;
    cursor: pointer;
/*     background-color: #9BCF53; */
    background-color: rgb(80, 137, 80);
    color: black;
    padding: 10px;
    border-radius: 10px;
    border: 2px solid white;
    font-size: 20px;
    width: 200px;
    position: absolute;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
    overflow: hidden;
}

.back a{
    cursor: pointer;
    color: white;
    text-decoration: none;
    width: 200px;
}
