* {
    user-select: none;
}

/* CSS for styling the graph container */
#graph-container {
    width: 500px;
    height: 600px;
    position: relative;
    margin: 50px auto;
}
/* CSS for positioning the SVG element */
#graph-svg {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* CSS for styling the points */
.point {
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: blue;
    border-radius: 50%;
    cursor: pointer;
}

/* CSS for styling the lines */
.line {
    stroke: black;
    stroke-width: 2px;
}

/* CSS for styling the text */
.text {
    font-size: 12px;
    fill: black;
    text-anchor: middle;
}

/* CSS for styling the grid lines */
.grid-line {
    stroke: black;
}

.puzzle_container {
    position: relative;
    margin: 2% 10%;
    padding: 5%;
    border-radius: 20px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;    
}

.puzzle_container:first-child {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.puzzle_container:last-child img {
    max-width: 100%;
    max-height: 80%;
}

.password-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.password-container label {
    margin-right: 10px;
    white-space: nowrap; /* Prevent wrapping */    
}

#x-coordinate, #y-coordinate {
    font-family: inherit;
    padding-top: 10px;
    padding: 5px;
    border: 2px solid;
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    
    
}

.add-point-container, .check-password-button {
    text-align: center;
}

#add-point-btn, #reset-btn {
    background: none;
    border: 2px solid;
    border-radius: 10px;
    padding: 5px 10px;
    cursor: pointer;
    font-family: inherit;
    font-weight: inherit;
}

#check-answer-btn {
    background: none;
    border: 2px solid;
    border-radius: 10px;
    padding: 5px 10px;
    cursor: pointer;
    font-family: inherit;
    font-weight: inherit;
    display: flex;
    justify-content: center;
    align-items: center;    
}

#answer {
    font-family: inherit;
    padding-top: 10px;
    padding: 5px;
    border: 2px solid;
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    display:flex;
}

/* Add this CSS to center the hint text */
#feedback {
    margin-top: 10px; /* Adjust margin as needed */
    text-align: center;
}

#hint{
    text-align: center;
}

.coordinate-container, .password-container {
    display: flex;
    align-items: center;    
}

.check-password-button{
    align-items: center;
    justify-content: center;
    display: flex;

}


.coordinate-container input {
    font-family: inherit;
    padding-top: 10px;
    padding: 5px;
    border: 2px solid;
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    
}
.coordinate-container label {
    margin-right: 10px;
    white-space: nowrap; /* Prevent wrapping */
}

.error-message {
    font-family: inherit;
    /* padding: 10px; */
    text-align: center;
    display: block; /* Ensure it's a block element */
    margin-top: 0px; /* Adjust margin top to move the error message up or down */
    margin-bottom: 10px; /* Adjust margin bottom to move the error message up or down */
    margin-left: auto; /* Adjust margin left to move the error message left or right */
    margin-right: auto; /* Adjust margin right to move the error message left or right */
    max-width: auto; /* Limit the width to prevent overflow */
    white-space: normal; /* Allow text to wrap onto the next line */
    color: red;
}

/* Style for success message */
.success-message {
    color: green;
}

.correct-message{
    color: green
}
