/* Page style - Puzzle Selection*/
.circle-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.small-circle {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 2px solid white;
    background-color: #DC0000;
    color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 10px;
    box-shadow: 1px 1px 10px 2px #000;
}



.container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.card{
    margin: 20px;
    width: 350px;
    height: 500px;
    font-size: 20px;
    border-radius: 20px;
    margin: 30px 30px;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}

.card .front h1{
    color: white;
    font-size: 32px;
    padding-bottom: 10px;
    -webkit-text-stroke-width: 1.5px;
    -webkit-text-stroke-color: rgb(0, 0, 0);
    overflow: hidden;
    border-bottom: 10px;
    position: absolute;
    bottom: 90px;
    left: 50%;
    transform: translateX(-50%);
}

.card .front h1::before{
    content: '';
    background-color: black;
    height: 3px;
    width: 150px;
    position: absolute;
    bottom: 5px;
    border-radius: 50%;
    border-color: #000;
}

.card .more-btn{
    font-family: inherit;
    cursor: pointer;
    background-color: #0c0c0c;
    color: #fff6c3;
    padding: 10px;
    border-radius: 10px;
    border: 2px solid white;
    font-size: 20px;
    position: absolute;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
}

.front,
.back{
    backface-visibility: hidden;
    position: absolute;
    height: 500px;
    /* height: auto; */
    width: 350px;
    border-radius: 20px;
    box-shadow: -10px 10px 10px #1e1e1e;
}

.front{
    border: 2px solid white;
    background-size: cover;
    background-position: 62.5%;
}

.back{
    transform: rotateY(180deg);
    background-color: #abaaaa;
    border: 2px solid white;
}

.back img{
    position: absolute;
    height: 60px;
    top: 1%;
    right: 2%;
    transform: rotate(25deg);
    opacity: 0.5;
}

.back h1{
    position: absolute;
    text-align: center;
    font-size: 30px;
    top: 8%;
    width: 100%;
    padding: 10px;
}

.back h1::before{
    content: '';
    background-color: black;
    height: 3px;
    width: 250px;
    position: absolute;
    bottom: 0;
    border-radius: 50%;
    border-color: #000;
}

.back p{
    position: absolute;
    text-align: center;
    top: 20%;
    padding: 10px;
}

.background_back{
    background-image: url('../assets/backgrounds/DATA_Logo.png');
    background-size: 250px;
    background-repeat: no-repeat;
    background-position: 50%;
    height: 500px;
    width: 350px;
    position: absolute;
    opacity: 0.125;
    z-index: -1;
}

.back .return{
    cursor: pointer;
    background-color: black;
    height: 50px;
    width: 50px;
    border-top-left-radius: 35px;
    border-bottom-right-radius: 90px;
    color: white;
    font-size: 20px;
    padding: 0 5px 5px 0;
}

.back .start{
    font-family: inherit;
    cursor: pointer;
    background-color: rgb(80, 137, 80);
    color: black;
    padding: 10px;
    border-radius: 10px;
    border: 2px solid white;
    font-size: 20px;
    width: 200px;
    position: absolute;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
    overflow: hidden;
}

.back a{
    cursor: pointer;
    color: white;
    text-decoration: none;
    width: 200px;
}

#card-7 h1, #card-7 button{
    display: none
}

#lock7{
    display: flex;
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgb(0,0,0,0.75);
    justify-content: center;
    align-items: center;
}

#lockIcon{
    font-size: 120px;
    color: white;
}

.next-puzzle {
    text-align: right;
    margin-top: 20px;
    display: none;
}
.certificate {
    background-color: white;
    border: 2px solid;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 20px;
    margin-top: 20px;
    padding: 5px 10px;
    cursor: pointer;
    font-family: inherit;
    font-weight: inherit;
    font-size: inherit;
    text-decoration: none;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 100px;
}
