h1{
  text-align: center;
}

h2{
  text-align: center;
}

p{
  text-align: center;
}

.puzzle_container{
  margin: 10%;
  padding: 5%;
  width: 80%;
  border-radius: 20px;
  background-color: white;
}

.answer_container{
  align-items: center;
  padding-left: 10%;
}

input{
  margin: 0% 1%;
}
