/* Page style - Puzzle Selection*/

.container{
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.card{
    width: 350px;
    height: 500px;
    border-radius: 20px;
    margin: 30px 30px;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    background: #90a4ae;
}

.card .image{
    position: relative;
    width: 300px;
    height: 350px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 50px;
    border-top-right-radius: 50px;
}

img{
    margin-left: 5%;
    margin-bottom: 10px;
}

.card .front h1{
    color: white;
    font-size: 35px;
    padding: 10px;
    text-align: center;
    position: relative;
    border-radius: 20px;
    margin: 360px 0px 0px 0px;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: rgb(0, 0, 0);
    overflow: hidden;
}

.card h1::before{
    content: '';
    background-color: rgb(246, 242, 242);
    height: 5px;
    width: 180px;
    position: absolute;
    bottom: 0px;
    border-radius: 50%;
    border-color: #000000;
}

.card button{
    background-color: #0c0c0c;
    color: #fff6c3;
    margin: 0 auto;
    display: block;
    padding: 2.5px 15px 10px 15px;
    border-radius: 10px;
    border-color: white;
}

.front button{
    margin-top: 10px;
    font-size: 20px;
}

.front,
.back{
    backface-visibility: hidden;
    position: absolute;
    height: 500px;
    width: 350px;
    border-radius: 20px;
    box-shadow: -10px 10px 10px #1e1e1e;
}

.front{
    align-items: center;
    justify-content: center;
    text-align: center;
    border-color: white;
    border-style: solid;
    background-size: cover;
    background-position: 62.5%;
}

.back{
    transform: rotateY(180deg);
    border-radius: 20px;
    background-color: #abaaaa;
    border-color: white;
    border-style: solid;
}

.back img{
    position: absolute;
    height: 60px;
    width: 120px;
    margin: 2.5px 0px 0px 220px;
    transform: rotate(25deg);
    opacity: 0.5;
}

.back h1{
    position: absolute;
    text-align: center;
    font-size: 40px;
    margin-top: 15%;
    width: 100%;
    padding: 10px;
}

.back h1::before{
    content: '';
    background-color: black;
    height: 3px;
    width: 300px;
    position: absolute;
    bottom: 5px;
    border-radius: 50%;
    border-color: #000;
}

.back p{
/*     font-family: sans-serif; */
    position: absolute;
    text-align: center;
    margin-top: 40%;
}

.background_back{
    background-image: url('../assets/backgrounds/DATA_Logo.png');
    background-size: 250px;
    background-repeat: no-repeat;
    background-position: 50%;
    height: 500px;
    width: 350px;
    position: absolute;
    opacity: 0.125;
    z-index: -1;
}

.back .return{
    background-color: black;
    height: 50px;
    width: 50px;
    align-items: left;
    margin-left: 0;
    border-radius: 0px;
    border-top-left-radius: 35px;
    border-bottom-right-radius: 90px;
    border-color: #000;
    color: white;
    font-size: 20px;
    padding-top: 1px;
    padding-left: 6px;
}

.back .start{
    background-color: rgb(80, 137, 80);
    width: 200px;
    font-size: 24px;
    margin-top: 375px;
    border-color: #000;
}

.back a{
    color: white;
    text-decoration: none;
    width: 200px;
}
